form {
    margin-top: 150px;
    margin-left: 25px;
}


table {
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #e2dccd;
    margin-left: 25px;
    margin-right: 25px;
    
}

thead {
    background-color: #4e493d;
    
}

th {
    font-size: 1em;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    border-bottom: 3px solid #e2dccd;
}

th:first-child {
    border-bottom: none;
}

tr:nth-child(even) {
    background-color: #d8a968;
}

tr:nth-child(odd) {
    background-color: #987645;
}

tr:nth-child(even):hover {
    background-color: hsla(35, 59%, 63%, 0.74);
}

tr:nth-child(odd):hover {
    background-color: hsla(35, 38%, 43%, 0.74);
}

td {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    vertical-align: middle;
}

td:first-child {
    font-size: 1em;
    text-align: left;
    padding-left: 10px;
    padding-right: 5px;
    font-weight: bold;
    background-color: #4e493d;
    border-right: 3px solid #e2dccd;
    width: 120px;

}

td:last-child {
    font-weight: bold;
}

tr:last-child {
    font-weight: bold;
}

label {
    font-weight: bold;
}

fieldset {
    background-color: #987645;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
}

fieldset h2 {
    font-size: 1.4em;
    font-weight: bolder;
}

fieldset div {
    margin: 15px;
}

label p {
    margin-bottom: 10px;
}

label input {
    padding: 5px;
    border-radius: 3px;
}

#footer {
    background-color: #4e493d;
    border-top: 3px solid #e2dccd;
}

#submitForm {
    margin-top: 15px;
}






